@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}


        body {
            margin: 0;
            overflow-x: hidden;
        }
        .sidebar {
            width: 250px;
            height: 100vh;
            position: fixed;
            background-color: #00025e;
        }
        .main-content {
            margin-left: 250px;
            padding: 20px;
        }
        .nav-link.active {
            background-color: #198754 !important;
            color: white !important;
            font-weight: bold;
        }
        #logout {
            margin-top: 100px;
            background-color: #CF0000;
            color: white;
            font-weight: bolder;
        }
